doctype html
html
  head
    meta(charset='UTF-8')
    title Hello World!
    link(rel='stylesheet', type='text/css', href='portfolio.css')
    link(rel='stylesheet', type='text/css', href='font-awesome/css/font-awesome.css')
  body
    #welcome-page
      canvas#canvas
      #canvas-container
      .row.row-fill
        .col-md-offset-1
        .col-md-6.row.vertical-center
            .col.chicle Matt Wagar
            .col.title-text Front End Developer
            .col.justify-center
              .welcome-button.row 
                .col.title-text Welcome
        .col-md-6
    #about-me
      .text Skills      
      .row.justify-center
        .col-md-2.col-margin
          img(src="web-design.svg")#frontend
          //- <img src="web-design.svg" onerror="this.onerror=null; this.src='image.png'">
          .text Front End Developer
        .col-md-2.col-margin
          img(src="code.svg" width='100%')#softeng
          .text Software Engineering
        .col-md-2.col-margin
          img(src="pencil-case.svg")#design
          .text Design
        .col-md-2.col-margin
          img(src="idea.svg")#additional
          .text Additional Skills
      .row.row-margin.justify-center
        .col-md-2.col-padding
          img(id="one")
        .col-md-2.col-padding
          img(id="two")
        .col-md-2.col-padding
          img(id="three")
        .col-md-2.col-padding
          img(id="four")
        .col-md-2.col-padding
          img(id="five")
        .col-md-2.col-padding
          img(id="six")
        .col-md-2.col-padding
          img(id="seven")
        .col-md-2.col-padding
          img(id="eight")
        .col-md-2.col-padding
          img(id="nine")
        .col-md-2.col-padding
          img(id="ten")
        .col-md-2.col-padding
          img(id="eleven")
        .col-md-2.col-padding
          img(id="twelve")
        

    //-   .col-md-6
    //-   .col-md-6
    //-     h1 Portfolio
    //-     .row
    //-       - for(var x = 0; x < 4; x++)
    //-         .col-md-5(style='height:100px; margin-bottom: 15px; background-color:green')
    //-         .col-md-2

    //-   .col-md-22
    //-     h1.center Contact Me
      
    
    script(src='bundle.js')
    //- script(src='page.js')