doctype html
html
  head
    meta(charset='UTF-8')
    title Hello World!
    link(rel='stylesheet', type='text/css', href='portfolio.css')
    link(rel='stylesheet', type='text/css', href='font-awesome/css/font-awesome.css')
  body
    .box
      .over_stuff
        #welcome-page.border
          .row
            .col-md-9 
            .col-md-3 
              .row
                .col-md-3
                  i.fa.fa-github.fa-3x(aria-hidden='true')
                .col-md-3
                  i.fa.fa-linkedin-square.fa-3x(aria-hidden='true')
                .col-md-3
                  i.fa.fa-instagram.fa-3x(aria-hidden='true')
          .row.row_padding
            .col-md-12
              h1(style='text-align:center;') Matt Wagar
            .col-md-12
              h1(style='text-align:center;') Front End Developer
          .row.center-md
            .col-md-2
              .welcome-button
                p.center Welcome
          .row.center-md
            .col-md-3
              .row.nowrap
                .col
                  .circle
                .col
                  .circle
                .col
                  .circle
                .col
                  .circle
        #welcome-page.border
          .row
            .col-md-9 
            .col-md-3 
              .row
                .col-md-3
                  i.fa.fa-github.fa-3x(aria-hidden='true')
                .col-md-3
                  i.fa.fa-linkedin-square.fa-3x(aria-hidden='true')
                .col-md-3
                  i.fa.fa-instagram.fa-3x(aria-hidden='true')
          .row.row_padding
            .col-md-12
              h1(style='text-align:center;') Matt Wagar
            .col-md-12
              h1(style='text-align:center;') Front End Developer
          .row.center-md
            .col-md-2
              .welcome-button
                p.center Welcome
          .row.center-md
            .col-md-3
              .row.nowrap
                .col
                  .circle
                .col
                  .circle
                .col
                  .circle
                .col
                  .circle
      canvas#canvas
    
    script(src='bundle.js')
    script(src='page.js')